body {
  color: dimgray;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  max-width: 1200px;
}

section {
  flex: 1 1 0;
  padding: 15px;
  border: 6px solid #0aa;
}

h1, h2, strong {
  color: purple;
}

ul {
  border: 6px solid cornflowerblue;
  list-style-type: square;
}

ol {
  border: 6px solid purple;
}

ol, ul {
  padding: 5px 20px;
  border-radius: 4px;
}

dt {
  color: purple;
  font-style: italic;
}
